<%= render "shared/banner" %>
<div class="container">
  <h1 class="text-center">Cocktails</h1>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do  %>
          <div class="col-xs-12 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (cocktail.photo.file ? cocktail.photo : "sample"), height: 300, width: 400, crop: :fill %>')">
              <h3><%= cocktail.name %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

