<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://suitcasemag.com/wp-content/uploads/2018/02/drink.jpg)">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>Bottoms Up</p>
    <%= link_to "Mix now", new_cocktail_path, class: "btn btn-success btn-lg"%>
  </div>
</div>
