<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://www.iconarchive.com/download/i41420/cedarseed/cocktails/Negroni.ico" alt="logo"></a>

  <!-- Right Navigation -->
  <%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-success" %>

</div>
