<h1 class="text-center">Add Review</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :rating, collection: Review::RATINGS, prompt: "Select number of stars" %>
        <%= f.input :content, placeholder: "Write your review" %>
        <%= f.submit "Add Review", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

